---
const { title, description, href, bg } = Astro.props;

const colors = {
  amber: {
    bg: "bg-amber-100",
    from: "hover:from-amber-200",
    to: "hover:to-amber-300"
  },
  violet: {
    bg: "bg-violet-100",
    from: "hover:from-violet-200",
    to: "hover:to-violet-300"
  },
  sky: {
    bg: "bg-sky-100",
    from: "hover:from-sky-200",
    to: "hover:to-sky-300"
  }
};

const bgClass = colors[bg]?.bg || "";
const fromClass = colors[bg]?.from || "";
const toClass = colors[bg]?.to || "";
---
<div class={`w-full text-lg rounded-2xl px-6 py-3 shadow-lg hover:bg-linear-to-r ${bgClass} ${fromClass} ${toClass} transition`}>
    <a
            href={href}
            class="flex gap-8">
        <div class="flex-1">
            <p class="font-display font-medium text-2xl">{title}</p>
            <p class="font-sans font-light text-sm">{description}</p>
        </div>
    </a>
</div>