---
const { title, description, href, bgl, bgr, img, imgalt } = Astro.props;
import Image from 'astro/components/Image.astro';
---
<div class={`w-full text-lg rounded-2xl px-6 py-3 shadow-lg bg-linear-to-r bg-${bgl}-100 hover:from-${bgl}-300 hover:to-${bgr}-300 transition`}>
    <a
            href={href}
            class="flex gap-8">
        <Image src={img} alt={imgalt} width="64" height="64" loading="eager" class="aspect-square object-cover" />
        <div class="flex-1">
            <p class="font-display font-medium text-2xl">{title}</p>
            <p class="font-sans font-light text-sm">{description}</p>
        </div>
    </a>
</div>